@use './var.scss' as *; 
@use './mixin.scss' as * ;
.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    
    
    .video{
        
        position: absolute;
        top: 0;
        z-index: -1;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        width: 120%;
        object-fit: contain;
    }
    .navCon{
        @include center;
        width: 100%;
        margin-bottom: 450px;
        position: relative;
        
        .nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .icon{
                
                width: 50px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:rgb(171, 171, 171);
                border: 1px solid rgb(171, 171, 171);
                border-radius: 5px;
                font-size: 20px;
                position: absolute;
                right: 20px;
                top: 20px;
                display: none;
                .faIcon{
                    width: 100%;
                    height: 100%;
                    @include center;
                    
                }

            }
            img{
                width: 165px;
                
            }
            .navMenu{
                display: flex;
                transition-duration: 250ms;

                margin: 0 10px 0 50px ;
                a.menu{
                    @include center;
                    padding: 15px;
                    padding-top: 5px;
                    font-size: 15px;
                    position: relative;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 400;
                    padding-bottom: 0.5rem;
                    white-space: nowrap;
                    font-weight: bold;
                    font-family:$font;
                    text-decoration: none;
                    &.active {
                    &:after{
                    content: "";
                    width: 100%;
                    height: 4px;
                    background-color: $mainColor;
                    position: absolute;
                    left: 0;
                    top: -5px
                    }
                   }
                }
               .prOff{
                display: none;
                flex-direction: column;
                position: absolute;
                top: 20px;
                width: 90%;
                padding: 5px;
                
                span
                {
                display: flex;
                flex-direction: column;
                background-color: #ff496873;
                padding: 10px;
                text-decoration: none;
                color: rgb(238, 221, 221);
                transition: .3s;
                &:hover{
                    background-color: $mainColor;
                    color: white;
                }
                }
                }
                .prOn{
                    @extend .prOff;
                    display: block;
                }
                
                
            }
            .lang{
                @include center;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0);
                border:none ;
                position: relative;
                cursor: pointer;
                font-size: 22px;
                color: white;
                margin-left: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                &::after{
                display: inline-block;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
                border-top: 0.3em solid $mainColor;
                }
                .langOff{
                    display: none;
                    top: 100%;
                    right: -30px;
                    z-index: 1000;
                    min-width: 10rem;
                    padding: 0.5rem 0;
                    margin: 0.125rem 0 0;
                    font-size: 1rem;
                    color: #212529;
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: 0.25rem;
                    transform: none;
                    position: absolute;
                    p{
                        padding: 3px 2px 2px 20px;
                        &:hover{
                            background-color: rgb(249, 249, 249);
                        }
                    }
                    
                }
                .langOn{
                    @extend .langOff ;
                    display: block;
                }
            }
        }
        .barOff{
            display: none;
            height: 500px;
            position: absolute;
            top: 80px;
            width: 95% ;
            padding-left: 2.5%;
            color: white;
            .top{
                background-color:red ;
                display: flex;
                flex-direction: column;
                padding: 10px;
                border-bottom: 1px solid hsla(0,0%,100%,.5);
                
                a{
                    text-decoration: none;
                    font-family: $font;
                    color: white;
                    font-size: 25px;
                    padding: 5px ;
                    border-top: 1px solid hsla(0,0%,100%,.5);
                    width: max-content;
                    
                }
            }
            .down{
                @extend .top;
                
                a{
                    border-top: none;
                    border-bottom: 1px solid hsla(0,0%,100%,.5);
                }
            }
            button{
                background-color:red ;
                width: 100%;
                text-align: start;
                border: none;
                height: 50px;
                margin-top: 8px;
                font-size: 25px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                padding: 10px
            }

        }
        .barOn{
            @extend .barOff;
            display: block;
        }
    }
    .footer{
            a{
                @include downloadButtomStyle;
                &:hover{
                    background-color: rgb(185, 64, 64);
                }
                
            }
    }
    
}

@include sLabtop{
    .header{
        height:690px;
    }
    
}
@media screen and (max-width:1118px){
    .header .navCon .nav img{
        width: 100px;
    }
    .header .navCon .nav .navMenu a.menu{
        font-size: 10px;
    }
    .header .navCon .nav .lang{
        font-size: 14px;
    }
    .header .footer a{
        margin-bottom: 70px;
    }
    
}
@media screen and (max-width :930px) {
    .header{
        height: 600px;
        .navCon{
            margin-bottom: 300px;
        }
        
    }
    .header .navCon .nav img{
        width: 80px;
    }
    .header .navCon .nav .navMenu a.menu{
        padding: 10px;
    }

    
}
@media screen and (min-width:769px) {
    .header .navCon .barOn{
        display: none;
    }
    
}
@include tablet{
    .header{
        height: 100vh;
        margin-bottom: 100px;
    }
    .header .navCon .nav .navMenu{
        display: none;
    }
    .header .navCon .nav .icon{
        display: block;
    }
    .header .navCon{
        justify-content: flex-start;
        
    }
    .header .navCon .nav img{
        width: 150px;
        padding: 15px 0 0 15px;
    }
    .header video{
        width: 2000px;
        height: 100vh;
        
    }
    .header .footer a{
        margin-bottom: 50px;
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
    .header .navCon{
        margin-bottom: 313px;
    }
    
}
@include mobileL{
    .header{
        height: 450px;
        overflow: visible;
    }
    .header .navCon .nav .icon {
        top: 30px;

    }
    .header .navCon .nav img{
        width: 100px;
        margin-top: 10px;
    }
    .header video{
        height: 450px;
    }
    .header .navCon .barOff .top a, .header .navCon .barOn .top a, .header .navCon .barOff .down a, .header .navCon .barOn .down a{
        font-size: 25px;
    }
}